/* nav */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  height: 110px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  text-align: center;
  padding: 5px;
}

nav li a {
  border-radius: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  background-color: #1e4050;
}

nav a:hover {
  color: white;
  background-color: #5893a4;
  box-shadow: inset 0 0 20px rgba(30, 64, 80, 0.7);
}

nav a:visited {
  color: white;
}
/* -------------------------------------------------------------------------*/


/* logo gatos unidos */
.imgLogo {
  width: 85px;
  height: 80px;
  margin: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.imgLogo:hover {
  transition: transform 0.9s ease;
  transform: rotate(360deg);
}
/* -------------------------------------------------------------------------*/


/* body */
body {
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  width: 80%;
  height: 100%;
}
/* -------------------------------------------------------------------------*/


/* div principal para todas las paginas */
.content {
  margin-top: 5%;
}
/* -------------------------------------------------------------------------*/



/* --------------------------COMPONENTES----------------------------------- */
/*  Gatos.tsx */
/* Contenedor de gatos */
.informacionGatos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilo de cada gato */
.gato {
  background-color: #f4f4f4;
  color: black;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 10px; /* Añadir margen para separar los elementos */
  box-shadow: inset 0 0 20px rgba(30, 64, 80, 0.2);
}

/* Estilo de las imágenes de los gatos */
.gato img {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  box-shadow: 0 0 20px #1e4050;
}

/* -------------------------------------------------------------------------*/


/* AboutUs.tsx */
.contenido-about-us {
  margin-top: 20px;
  font-family: 'Arial', sans-serif; /* Tipo de fuente */
  line-height: 1.6; /* Espaciado entre líneas */
  padding: 20px; /* Espacio alrededor del texto */
  background-color: #f4f4f4; /* Fondo suave */
  border-radius: 10px; /* Bordes redondeados */
  max-width: 800px; /* Ancho máximo */
  margin: 0 auto; /* Centrado */
  text-align: justify; /* Justifica el texto para que todas las líneas sean del mismo ancho */
}

.contenido-about-us p {
  color: #292929;
  text-indent: 30px; /* Sangría en el primer párrafo */
  margin-bottom: 15px; /* Espacio entre párrafos */
  font-size: 16px; /* Tamaño de fuente */
}
/* -------------------------------------------------------------------------*/


/* Clnics.tsx */
/* Contenedor de Clinicas */
.informacionClinicas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Estilo para cada clinica */
  .clinica{
    background-color: #f4f4f4;
    color: black;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 10px; /* Añadir margen para separar los elementos */
    box-shadow: inset 0 0 20px rgba(30, 64, 80, 0.2);
  }
  /* Estilo de las imágenes de las clinicas */
  .clinica img {
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 20px #1e4050;
  }
/* -------------------------------------------------------------------------*/


/* Colaborate.tsx */
table {
  width: 70%;
  margin: auto;
  border-spacing: 30px; /* Espacio entre celdas */
  border-collapse: separate; /* Necesario para que funcione */
}

table th {
  font-size: 25px;
  text-align: center;
}

table td {
  text-align: center;
  border-spacing: 5px;
}

table img {
  width: 300px;
  height: 200px;
  display: block; /* Elimina el espacio extra debajo de la imagen */
  margin: 0 auto; /* Centra la imagen dentro de la celda */
  border-radius: 5px; /* Efecto borde */
}
/* -------------------------------------------------------------------------*/


/* Contact.tsx */
.fotoContacto {
  width: 50px;
  height: 50px;
}
/* -------------------------------------------------------------------------*/


/** Footer */
footer {
  text-align: center;
  background-color: #1e4050;
  width: 80%;
  color: white;
  margin: 0 auto
}