/* Reset básico para box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Link sin subrayado */
a {
  text-decoration: none;
}

 /* Título principal */
.tituloClinicas {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #1e4050;
}

/* Contenedor general de tarjetas */
.contenedorClinicas {
  display: flex;
  flex-wrap: wrap;;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
  max-width: 100%;
}

/* Tarjeta individual */
.clinicas{
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  box-shadow: inset 0 0 20px rgba(30, 64, 80, 0.2);
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Evita que contenido sobresalga */
  background-color: white;
  transition: box-shadow 0.3s ease;
}

/* Efecto hover para la tarjeta */
.clinicas:hover {
  box-shadow: 0 0 20px #1e4050;
}

/* Imagen de la clinica */
.clinicas img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 20px #1e4050;
  display: block;
}

/* Contenedor de informacion clinica */
.informacionClinica {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

/* Nombre de la clinica */
.nombreClinica {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #5b96a6;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: -20px;
  width: fit-content;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Efecto hover para el nombre de la clinica */
.nombreClinica:hover {
  background-color: white;
  color: #1e4050;
  border: 2px solid #1e4050;
}


.atributoClinicas {
  font-family: Arial, sans-serif;
  padding: 3px 15px;
  font-size: 16px;
  color: #1e4050;
  margin-top: -10px;
}
