.contenedorClinicaEliminar {
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tituloClinicaEliminar {
  font-size: 24px;
  font-weight: bold;
  color: #1e4050;
  text-align: center;
  margin-bottom: 20px;
}

.fichaClinicaEliminar {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 600px;
  font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
}

.divAtributosClinicaEliminar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.atributoClinicaEliminar {
  background-color: #1e4050;
  padding: 0 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 6px;
}

.valorClinica {
  font-size: 18px;
}

.clinicaEliminar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.fotoClinicaEliminar {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
}

.botonEliminarClinica {
  margin-top: 30px;
  padding: 8px 12px;
  background-color: #5b96a6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.botonEliminarClinica:hover {
  background-color: #5aea66;
}

/* Responsive */
@media (max-width: 768px) {
  .fichaClinicaEliminar {
    width: 95%;
    padding: 10px;
  }

  .divAtributosClinicaEliminar {
    flex-direction: column;
  }

  .atributoClinicaEliminar {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .fotoClinicaEliminar {
    max-width: 100%;
  }
}
