nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    height: auto;
    padding-left: 10px;
}
  
nav ul {
  list-style-type: none;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  
nav li {
  text-align: center;
  padding: 10px;
}
  
nav li a {
  color: #1e4050;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  padding: 5px;
  text-decoration: none;
  font-size: 28px;
  text-align: center;
}
  
nav li a:hover {
  color: white;
  background-color: #1e4050;
  padding: 5px;
  border-radius: 5px;
}

nav a:visited {
  color: #1e4050;
}

.desplegable-contenido {
  width: 100px;
  display: none;
  position: absolute;
  background-color: #1e4050;
  list-style: none;
  border: 2px solid white;
}

.colabora:hover .desplegable-contenido{
    display: block;
    width: 85px;
}

.desplegable-contenido li {
  padding: 3px;
}

.desplegable-contenido li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  text-align: left;
}

.desplegable-contenido li a:hover {
  background-color: white;
  color: #1e4050;
}

